<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico" >
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% block style %}{% endblock %}

    {% block title %}{% endblock %}

</head>

<body>
<header class="wf-header">
    <input type="checkbox" name="header-manage" id="nav-judge">
    <input type="checkbox" name="header-manage" id="search-judge">
    <label class="header-nav" for="nav-judge">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="header-logo">
        <i class="iconfont icon-WF-icon"></i>
    </div>
    <nav class="wf-nav">
        <ul>
            {% block nav %} {% endblock %}
        </ul>
    </nav>
    <div class="header-search">
        <label class="iconfont icon-chaxun" for="search-judge"></label>
        <input class="search-input" type="text" placeholder="请输入关键字" autocomplete="off">
        <article class="search-hint" style="display: none;">
            <div>
            </div>
        </article>
    </div>
    <div class="header-user">
        <label class="user-icon" for="user-judge">
            {% if user.is_authenticated %}
                <span>{{ user.username|make_list|first|default:"W" }}</span>
                <span>{{ user.username|make_list|slice:"1:2"|first|default:"F" }}</span>
            {% else %}
                <span></span><span class="iconfont icon-account"></span>
            {% endif %}
        </label>

        <input type="checkbox" name="header-manage" id="user-judge">
        <div class="header-mask">
            <div class="user">
                <div>
                    <label class="iconfont icon-right" for="user-judge"></label>
                    {% if user.is_authenticated %}
                        <a href="{% url 'app_wfusers:signout' %}?next={{ request.path }}"
                           class="iconfont icon-tuichu"></a>
                    {% endif %}
                </div>
                <article class="user-details">
                    <article class="user-icon">
                        {% if user.is_authenticated %}
                            <span>{{ user.username|make_list|first|default:"W" }}</span>
                            <span>{{ user.username|make_list|slice:"1:2"|first|default:"F" }}</span>
                        {% else %}
                            <span class="iconfont icon-account"></span><span></span>
                        {% endif %}
                    </article>
                    {% if user.is_authenticated %}
                        <article>
                            <p>昵&ensp;&ensp;称:</p>
                            <input class="user-name" type="text" value="{{ user.username }}" disabled/>
                            <input type="checkbox" name="hander-manage" id="name-editor-judge">
                            <label class="iconfont icon-edit" for="name-editor-judge"></label>
                        </article>
                        <article>
                            <p>账&ensp;&ensp;号:</p>
                            <input class="user-id" type="text" value="{{ user.email }}" disabled/>
                        </article>
                        {% if user.gamename %}
                            <article>
                                <p>游戏ID:</p>
                                <input class="user-gamename" type="text" value="{{ user.gamename }}" disabled/>
                            </article>
                        {% endif %}
                    {% else %}
                        <article>
                            <a href="{% url 'app_wfusers:sign' %}?next={{ request.path }}">登录</a>
                        </article>
                    {% endif %}
                </article>
                <div class="user-function">
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'app_wfusers:personal_detail' %}" target="_blank">
                                    <i class="iconfont icon-account"></i>
                                    <span>个人信息</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'rivenmarket:index' %}" target="_blank">
                                <i class="iconfont icon-cart-full-fill"></i>
                                <span>紫卡市场</span>
                            </a>
                        </li>
                        {% if user.is_authenticated and user.is_staff %}
                            <li>
                                <a href="#" target="_blank">
                                    <i class="iconfont icon-admin"></i>
                                    <span>后台管理</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>
{% block main %} {% endblock %}
<footer class="wf-footer">
    <div class="footer-content">
        <article class="col-lg-4 col-md-4 col-sm-12">
            <div class="footer-logo">
                <i class="iconfont icon-WF-icon"></i>
            </div>
            <span class="footer-webname">Warframe/Focus Created By 2020</span>
        </article>
        <article class="col-lg-4 col-md-4 col-sm-12">
            <h1>Warframe Focus</h1>
            <section>
                <span class="col-lg-3 col-md-2 col-sm-3"></span>
                <div class="col-lg-6 col-md-8 col-sm-6">
                    <a href="#">关于我们</a>
                    <span>&ensp;|&ensp;</span>
                    <a href="#">使用帮助</a>
                </div>
            </section>
            <section>
                <span class="col-lg-3 col-md-2 col-sm-3"></span>
                <div class="col-lg-6 col-md-8 col-sm-6">
                    <span>孙海超</span>
                    <span>&ensp;|&ensp;</span>
                    <span>吴伟东</span>
                </div>
            </section>
            <section>
                <span class="col-lg-3 col-md-2 col-sm-3"></span>
                <div class="col-lg-6 col-md-8 col-sm-6">
                    <address>yusheng@gmail.com</address>
                </div>
            </section>
        </article>
        <article class="col-lg-4 col-md-4 col-sm-12">
            <h1>友情链接</h1>
            <section>
                <a href="https://www.warframe.com" target="_blank">Warframe官网 <sup><i class="iconfont icon-external"></i></sup></a>
            </section>
            <section>
                <a href="https://warframe.huijiwiki.com/wiki/首页" target="_blank">Warframe中文维基 <sup><i class="iconfont icon-external"></i></sup></a>
            </section>
            <section>
                <a href="https://forums.warframe.com" target="_blank">Warframe中文论坛 <sup><i class="iconfont icon-external"></i></sup></a>
            </section>
        </article>
    </div>
</footer>
<div class="wf-background">
    <section class="back back1"></section>
    <section class="back back2"></section>
    <section class="back back3"></section>
    <section class="back back4"></section>
    <section class="back back5"></section>
    <section class="back back6"></section>
    <section class="back back7"></section>
    <section class="back back8"></section>
</div>
<script src=" {% static 'js/utils.js' %} "></script>
<script src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
{#<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>#}
<script src=" {% static 'js/wfajax.js' %} "></script>
<script src=" {% static 'js/nav.js' %} "></script>
<script src=" {% static 'js/header.js' %} "></script>

{% block scripts %}{% endblock %}
</body>

</html>