{% extends 'index.html' %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index_weapons.css' %} ">
{% endblock %}

{% block title %}
    <title>武器配装-wFocus</title>
{% endblock %}


{% block nav %}
    <li class="nav-li"><a href="{% url 'app_index:home' %}">首页</a><span></span></li>
    <li class="nav-li"><a href="{% url 'app_index:alerts' %}">实时信息</a><span></span></li>
    <li class="nav-li "><a href="{% url 'app_index:warframes' %}">战术模拟</a><span></span></li>
    <li class="nav-li nav-li-now"><a href="javascript:void(0)">武器配装</a><span></span></li>
{% endblock %}

{% block main %}
    <main class="wf-main">
        {% if weapons %}
            {% for weapon in weapons %}
                <a class="wf-tags" href="{% url 'app_weapons:info' weapon_name=weapon.link %}">{{weapon.name}}</a>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}{% endblock %}